.cart-list-item {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 50%;
    }

    &__divider {
        width: 100%;
        height: 1px;
        background-color: black;
        opacity: 0.15;
    }

    &__price {
        font-size: 16px;
    }

    &__name {
        font-weight: bold;
        font-size: 18px;
    }

    &__country {
        margin-top: 10px;
        font-size: 14px;
    }

    &__quantiti {
        display: flex;
        align-items: center;
        margin-top: 5px;
        font-size: 14px;
    }

    &__removeBtn {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        width: 25px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;

        &__img {
            width: 100%;
        }
    }
}