.quantiti-selector {
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >div {
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__plus,
    &__minus {
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid black;
        background: rgba(196, 196, 196, 0);
        transition: all 0.2s;

        &:active {
            background-color: rgba(196, 196, 196, 0.5);
        }
    }
}